.article {
  .imgIntro {
      margin-top: 2rem;
      width: 20rem;
  }

  .title {
      margin-top: 3rem;
      // font-size: 4rem;
  }

  .tags {
      margin-top: -1.5rem;
  }

  .intro {
      margin-top: 2rem;
  }
  .signatureSpace {
      margin-top: 2rem;
      margin-bottom: 2rem;
  }
  .subtitle, .text, .imgArticle, .code {
      margin: 2rem 0 1rem 0;
  }
  .imgArticle {
      width: 40rem;
  }
}
