@import '../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

// If need, change your variables before importing Bulma
// $title-color: #ff0000;


.headers {
    
    background-color: $greyBackground;
    padding: 0rem 0 0rem 0rem;
    // height: 100px;
  
    .column {
        margin: 0;
    }

    a {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: black;
        font-size: 0.9rem;
    }

    .circleRed {
        width: 2rem;
        height: 2rem;
        border-radius: 3rem;
        margin: 0.5rem 0 0 0;
        float: left;
    }

    .djoher {
        font-family: 'Roboto Mono';
        font-size: 1.5rem;
        margin: 0.3rem 0 0 0.5rem;
    }

    .navbar{
        // margin: 0.6rem 0 0 0;
        // font-size: 1rem;
        background-color: $greyBackground;
    }

    .isdev {
        // color: white;
        font-family: 'Roboto Mono';
        font-size: 1rem;
        margin: 0 0 0 -0.8rem;
    }

    #col {
        margin-bottom: 0rem;
    }
    input{
        margin: 1rem 0 0 0;
        // width: 100%;
    }

    .buttonContact {
        // background-color: #51be78;
        color: white;
        border: 0px;
        width: 8rem;
        height: 2rem;
        margin: 0.1rem 0 0 0;
        text-align: center;
        line-height: 50px;
        border-radius: 0.3rem;

    }
}


